/* This is a CSS file */
.imgresponsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 85%;
}
.igmresponsive2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 85%;
}
body {
  font-family: Helvetica;
  background-color: #489D2C;
}

.mobile-container {

  background-color: white;
  height: 3400px;
  color: black;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #489D2C;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: #489D2C;
}

.active {
  background-color: #489D2C;
  color: #489D2C;
}
