body {
  font-family: Helvetica;
  background-color: #1A401D;
}

.mobile-container {

  background-color: #AFE675;
  height: 800px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #489D2C;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: #489D2C;
}

.active {
  background-color: #4CAF50;
  color: white;
}